/*
Name: Brandon Karl, brandon_karl@student.uml.edu
Computer Science Department, UMass Lowell
Comp.4610, GUI Programming I
File: /usr/cs/2018/bkarl/public_html/
Created: 10-nov-2017
Last updated by HL: 10-Nov-2017, 8:17
*/

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}
